<header class="bg-gray-900 text-white shadow-md">
    <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-xl font-bold tracking-tight">NovaTech <span>News</span></h1>
        <ul class="flex space-x-6 text-sm font-medium">
            <li class=" hover:text-blue-500 text-white"><a routerLink="">Início</a></li>
            <li class="hover:text-green-500"><a routerLink="tutorials">Tutoriais</a></li>
            <li class="hover:text-green-500"><a routerLink="documents">Documentação</a></li>
            <li class="hover:text-green-500"><a routerLink="bio">Biografia</a></li>
        </ul>
    </nav>
</header>
